body{
	background-color: #2c3e50;
}

#box{
	height: 300px;
	width: 300px;
	margin: 80px;
	/*background-color: #e74c3c;*/
	-webkit-animation: sq_to_cir 2s 0s infinite linear alternate,
		fader .0625s .5s infinite linear alternate,
		spin 2s .5s infinite linear alternate;
}

@-webkit-keyframes fader {
	to {
		opacity: 0;

	}
}

@-webkit-keyframes spin {
	to {
		transform: rotate(360deg);

	}
}
@-webkit-keyframes mover {
	to {
		transform: rotate(360deg);

	}
}

@-webkit-keyframes sq_to_cir {
	0%  {
    border-radius:0 0 0 0;
    background-color: #e74c3c;

  }
  25%  {
    border-radius:10% 10% 10% 10%;
    background-color: #f1c40f;
  }
  50%  {
  	background-color: #e67e22;
    border-radius:25% 25% 25% 25%;
  }
  75%  {
    border-radius:35% 35% 35% 35%;
    background-color: #f1c40f;
  }
  100% {
  	background-color: #e74c3c;
    border-radius:50% 50% 50% 50%;
  }
}